[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-heroku = "*"
django-tinymce4-lite = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2 = "*"
requests = "*"
pillow = "*"
django-tinymce = "*"
pyenchant = "*"

[dev-packages]

[requires]
python_version = "3.9"
